<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <%- include('../components/navbar') %>
    <h1>Selamat Datang <%= user.nama %></h1>
</body>
</html>